<nav  class="background">
  <div>
      <table>
          <tr>
              <td><a class="navbar-brand" href="/"><img src="./Assets/images/ATISS.png"></a></td>
              <td>
                  <table>
                      <tr>
                          <td class="links"><a href="/home">Home</a></td>
                          <td class="links"><a href="/about">About</a></td>
                          <td class="links"><a href="/login">Login</a></td>
                          <td></td>
                          <td></td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
      
      
  </div>
</nav>
