<form class="form" action="/create" method="POST">    
    <div class="span4" id="headerText">        
        <div id="userdetails">
            <div class="form-group"><label class="control-label">Your Name:</label><input class="form-control input-lg" type="text" name="username" placeholder="Username" id="username" required="required" />
                <label class="control-label">Survey Name:</label><input class="form-control input-lg" type="text" name="surveyname" placeholder="surveyname" id="surveyname" required="required" />
                <h3><p>Fill in the questions below and click Submit button to get the link for your survey.</p><h3>
            </div>
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #1</h4><input class="form-control input-lg" type="text" name="question1" placeholder="Question 1" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question1option1" placeholder="Question 1 - option 1" id="question1option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #2</h4><input class="form-control input-lg" type="text" name="question2" placeholder="Question 2" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question2option1" placeholder="Question 2 - option 1" id="question2option1" required="required" /></label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #3</h4><input class="form-control input-lg" type="text" name="question3" placeholder="Question 3" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question3option1" placeholder="Question 3 - option 1" id="question3option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #4</h4><input class="form-control input-lg" type="text" name="question4" placeholder="Question 4" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question4option1" placeholder="Question 4 - option 1" id="question4option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #5</h4><input class="form-control input-lg" type="text" name="question5" placeholder="Question 5" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question5option1" placeholder="Question 5 - option 1" id="question5option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #6</h4><input class="form-control input-lg" type="text" name="question6" placeholder="Question 6" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question6option1" placeholder="Question 6 - option 1" id="question6option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #7</h4><input class="form-control input-lg" type="text" name="question7" placeholder="Question 7" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question7option1" placeholder="Question 7 - option 1" id="question7option1" required="required" /></label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #8</h4><input class="form-control input-lg" type="text" name="question8" placeholder="Question 8" required="required" /><br />
            <div class="form-group">
                <input class="form-control expandinginput" type="text" name="question8option1" placeholder="Question 8 - option 1" id="question8option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #9</h4><input class="form-control input-lg" type="text" name="question9" placeholder="Question 9" required="required" /><br />
            <div class="form-group">
               <input class="form-control expandinginput" type="text" name="question9option1" placeholder="Question 9 - option 1" id="question9option1" required="required" /></label></div>
            </div>
            
        </div>
        <div class="span" id="questions">
            <h4 class="bold">Question #10</h4><input class="form-control input-lg" type="text" name="question10" placeholder="Question 10" required="required" /><br />
            <div class="form-group">
               <input class="form-control expandinginput" type="text" name="question10option1" placeholder="Question 10 - option 1" id="question10option1" required="required" /></label></div>
            </div>
            
        </div>
    </div><input type="hidden" name="questions" value="10" />
    <div class="span4" id="submitbutton"><button class="btn btn-success" type="submit" id="submitBtn">Generate Survey!</button></div>
</form>