<form class="form" action="/create" method="POST">    
    <div class="body" id="headerText">        
        <div id="userdetails">
            <div class="form-group">
                        <label class="username">Enter Your Username:</label>
                        <input class="inp-username" type="text" name="username" placeholder="Username" id="username" required="required" />
                <h3>Fill in the questions below and click Submit button to get the link for your survey.<h3>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #1<input class="inp-question" type="text" name="question1" placeholder="Question 1" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question1" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question1option1" placeholder="Question 1 - option 1" id="question1option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question1" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question1option2" placeholder="Question 1 - option 2" id="question1option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question1" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question1option3" placeholder="Question 1 - option 3" id="question1option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question1" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question1option4" placeholder="Question 1 - option 4" id="question1option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #2<input class="inp-question" type="text" name="question2" placeholder="Question 2" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question2" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question2option1" placeholder="Question 2 - option 1" id="question2option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question2" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question2option2" placeholder="Question 2 - option 2" id="question2option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question2" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question2option3" placeholder="Question 2 - option 3" id="question2option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question2" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question2option4" placeholder="Question 2 - option 4" id="question2option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #3<input class="inp-question" type="text" name="question3" placeholder="Question 3" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question3" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question3option1" placeholder="Question 3 - option 1" id="question3option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question3" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question3option2" placeholder="Question 3 - option 2" id="question3option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question3" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question3option3" placeholder="Question 3 - option 3" id="question3option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question3" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question3option4" placeholder="Question 3 - option 4" id="question3option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #4<input class="inp-question" type="text" name="question4" placeholder="Question 4" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question4" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question4option1" placeholder="Question 4 - option 1" id="question4option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question4" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question4option2" placeholder="Question 4 - option 2" id="question4option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question4" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question4option3" placeholder="Question 4 - option 3" id="question4option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question4" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question4option4" placeholder="Question 4 - option 4" id="question4option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #5<input class="inp-question" type="text" name="question5" placeholder="Question 5" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question5" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question5option1" placeholder="Question 5 - option 1" id="question5option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question5" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question5option2" placeholder="Question 5 - option 2" id="question5option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question5" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question5option3" placeholder="Question 5 - option 3" id="question5option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label"
                        ><input type="radio" name="question5" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question5option4" placeholder="Question 5 - option 4" id="question5option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #6<input class="inp-question" type="text" name="question6" placeholder="Question 6" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question6" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question6option1" placeholder="Question 6 - option 1" id="question6option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question6" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question6option2" placeholder="Question 6 - option 2" id="question6option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question6" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question6option3" placeholder="Question 6 - option 3" id="question6option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question6" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question6option4" placeholder="Question 6 - option 4" id="question6option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #7<input class="inp-question" type="text" name="question7" placeholder="Question 7" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question7" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question7option1" placeholder="Question 7 - option 1" id="question7option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question7" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question7option2" placeholder="Question 7 - option 2" id="question7option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question7" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question7option3" placeholder="Question 7 - option 3" id="question7option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question7" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question7option4" placeholder="Question 7 - option 4" id="question7option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #8<input class="inp-question" type="text" name="question8" placeholder="Question 8" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question8" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question8option1" placeholder="Question 8 - option 1" id="question8option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question8" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question8option2" placeholder="Question 8 - option 2" id="question8option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question8" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question8option3" placeholder="Question 8 - option 3" id="question8option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question8" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question8option4" placeholder="Question 8 - option 4" id="question8option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #9<input class="inp-question" type="text" name="question9" placeholder="Question 9" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question9" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question9option1" placeholder="Question 9 - option 1" id="question9option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question9" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question9option2" placeholder="Question 9 - option 2" id="question9option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question9" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question9option3" placeholder="Question 9 - option 3" id="question9option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question9" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question9option4" placeholder="Question 9 - option 4" id="question9option4" required="required" />
                    </label></div>
            </div>
        </div>
        <div class="span" id="questions">
            <h4>Question #10<input class="inp-question" type="text" name="question10" placeholder="Question 10" required="required" /></h4><br />
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question10" value="1" required="required" />
                        <input class="form-control expandinginput" type="text" name="question10option1" placeholder="Question 10 - option 1" id="question10option1" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question10" value="2" required="required" />
                        <input class="form-control expandinginput" type="text" name="question10option2" placeholder="Question 10 - option 2" id="question10option2" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question10" value="3" required="required" />
                        <input class="form-control expandinginput" type="text" name="question10option3" placeholder="Question 10 - option 3" id="question10option3" required="required" />
                    </label></div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label class="radio-inline control-label" id="label">
                        <input type="radio" name="question10" value="4" required="required" />
                        <input class="form-control expandinginput" type="text" name="question10option4" placeholder="Question 10 - option 4" id="question10option4" required="required" />
                    </label></div>
            </div>
        </div>
    </div><input type="hidden" name="questions" value="10" />
    <div class="center" id="submitbutton">
        <button class="center-btn" type="submit" id="submitBtn">Generate Survey!</button>
    </div>
</form>
