<body class="body">
    <div class="center">
        <h1>Welcome to Ask.Me</h1><br>
        <h4>In our website you can take a pre-existing survey<br>or create your own survey</h4><br>

        <form class="home-options">
            <h4>Select type of the survey:</h4>
            <input type="radio" id="MC" name="survey" value="MC">
            <label for="mc"> Multiple Choice </label>
            <input type="radio" id="TF" name="survey" value="TF">
            <label for="tf"> True/False </label>
            <input type="radio" id="SA" name="survey" value="SA">
            <label for="sa"> Simple Answer </label>
        </form><br>

        <div>
            <button type="button" class="center-btn" onclick="myFunction()">Create <br>Survey</button><br><br>
            <button type="button" class="center-btn">Begin <br>Survey</button>
        </div>
    </div>
</body>
