<body class="body">
    <div class="center">
        <h2>Welcome to Ask.Me</h2><br>
        <h4>In our website you can take a pre-existing survey<br>or create your own survey</h4><br>
        <button class="button">Begin Survey</button><br><br>
        <button class="button">Create Survey</button>
    </div> 
</body>
