<body class="body">
    <div class="center">
        <h2>Welcome to Ask.Me</h2><br>
        <h4>You can take different kinds of survey in our website.<br> You may begin whenever you like.</h4><br>
        <button class="button">Begin Survey</button>
    </div> 
</body>